strong{
  color: steelblue;
  font-size: 18px;
  text-decoration: underline;
  font-family: '맑은 고딕';
}

code{
  background-color: #f5e7b2;
  display: block;/* 요소의 형식을 block 형식(행 분할) 으로 변경 */
  font-weight: bold;
  font-size: 14px;
}

/* 기본 속성 선택자 1- 속성명 */
[name]{ background-color: cyan;}

/* 기본 속성 선택자2 - 속성명 = 속성값 */
[name=bbb]{ font-size: 20px;}
[name= "bbb" ]{text-decoration: underline;}

/* 자식 선택자( A > B) */

/* class 속성 값이 "parent-1"인 요소의 자식 중 
  li태그를 모두 선택*/

.parent-1> li{
  font-size: 24;
}

/*  class속성 값이 "parent-1"인 요소의 자식 중
    class속성 값이 "child-1"인 모든 요소 선택 */
.parent-1 > .child-1{
  background-color: yellow;
}

.parent-1> li > span{
  background-color: red;
}
/* 후손 선택자 (A B) */

/* class가 patent-2 인 요소 하위 모든 p태그 선택 */
.parent-2 p{background-color: lightcoral;}

/* class가 patent-2 인 요소 하위 모든 태그 선택 */
.parent-2 *{
 font-family: '궁서체';
}

/* 반응 선택자 */

.test-btn{

  width: 300px;
  height:50px;
  font-size:  30px;
  font-weight: bold;

  cursor: pointer;/* 마우스 포인터 모양을 손가락으로 변경 */
  background-color: white;
  color: deeppink;
  border: 2px solid deeppink;
}

/* hover 반응 선택자 */
.test-btn:hover{
 background-color: deeppink;
 color: white;
}

.test-btn:active{
  transform:  scale(0.9);/*  /크기를 90%로 변환 */
}

/* :focus 상태 선택자 */
.input-1:focus{
  background-color: lightgreen;
}

/* :checked 상태 선택자  */

/* input 요소 중 namedl radioGroup 이면서 체크된 요소만 선택 */
[name= "radioGroup"]:checked{
  width: 30px;
  height: 30px;
  background-color: red;
  color: red;
  /* 체크 시 보여지는 ㅍ시는 이미지 -> 색상 적용 x */
  /* 최근에 변경 css 추가됨 */
}

/* 체크된 체크박스만 선택 */
input[name=checkGroup]:checked{
  width: 30px;
  height: 30px;
  background-color: red;
  color: red;
}

.input-3:enabled{
  background-color: yellowgreen;
}

.input-3:disabled{
  background-color: salmon;
}